# +------------------------+
# |  EXCLUDED DIRECTORIES  |
# +------------------------+

**/__pycache__/


# +------------------------+
# |     EXCLUDED FILES     |
# +------------------------+

.env
discord.log
